.contato {}

.contato form {padding:55px 0 0 0}
.contato label {float:left;margin:0 0 10px 0;width:109px;font-size:18px;color:#6d6e71;line-height:43px}
.contato .input {float:left;padding:10px 20px;margin:0 0 10px 0;width:357px;font-size:18px;color:#6d6e71;border:1px solid #b6b6b8}
.contato textarea {float:left;padding:10px 20px;margin:0 0 10px 0;width:357px;height:144px;font-size:18px;color:#6d6e71;border:1px solid #b6b6b8}
.contato button {background:#00b3e3;padding:10px 0;margin:0 0 0 109px;width:399px;font-family:'latobold';font-size:20px;color:#fff;text-align:center;text-transform:uppercase}
.contato button i {}