.content_home .sobre_evento {float:left;width:656px}
.content_home .sobre_evento h2 {margin:60px 0 50px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
.content_home .sobre_evento p {margin:0 40px 30px 0;font-size:16px;color:#6d6e71;line-height:20px}
.content_home .sobre_evento a {float:left;display:block;padding:10px 0 11px;margin-bottom:55px;font-family:'latobold';font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
.content_home .sobre_evento a:hover {text-decoration:none}
.content_home .sobre_evento .inscrevase {background:#00b3e3;width:278px;margin-right:10px}
.content_home .sobre_evento .saiba_mais {background:#2fbfc2;width:238px}

.content_home .galeria {float:left;width:344px}
.content_home .galeria ul {margin:125px 0 0 0}
.content_home .galeria li {float:left;margin:0 0 15px 27px;height:94px;overflow:hidden;position:relative}
.content_home .galeria li .hover {background:rgba(0, 179, 227, 0.7);width:100%;height:100%;position:absolute;top:0;left:0;text-align:center;display:none}
.content_home .galeria li .hover i {font-size:26px;color:#fff;line-height:94px}

#content .patrocinadores {background:#f1fafe;float:left;width:100%;padding:0 0 60px 0}
#content .patrocinadores .central {overflow:hidden}
#content .patrocinadores h2 {float:left;margin:70px 0 52px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
#content .patrocinadores .ver_todos {background:#00b3e3;float:right;display:block;padding:10px 0 11px;margin:58px 0 0 0;width:198px;font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
#content .patrocinadores ul {clear:both;width:150%}
#content .patrocinadores li {float:left;margin:0 21px 0 0}