.internas {padding:60px 0}

.internas .inscrevase {background:#00b3e3;display:block;padding:10px 0 11px;margin:0 auto;width:278px;font-family:'latobold';font-size:20px;color:#fff;text-transform:uppercase;text-align:center}
.internas .inscrevase:hover {text-decoration:none}

.internas .col_left {background:url(../images/bg_bottom_left.png) no-repeat center bottom;float:left;padding:50px;width:598px;border:1px solid #c0c0c1;-webkit-border-radius:40px 40px 10px 10px;-moz-border-radius:40px 40px 10px 10px;border-radius:40px 40px 10px 10px}

.internas .col_right {background:url(../images/bg_bottom_right.png) no-repeat center bottom;float:right;padding:0 0 15px 0;width:280px;border:1px solid #c0c0c1;-webkit-border-radius:40px 40px 10px 10px;-moz-border-radius:40px 40px 10px 10px;border-radius:40px 40px 10px 10px}
.internas .col_right .txt {margin:30px auto;width:75%;font-size:16px;color:#6d6e71;text-align:center}

.col_right .top {background:url(../images/bg_top_right.png) no-repeat center top;height:60px;color:#fff}
.col_right .top i {float:left;margin:17px 0 0 0;font-size:25px}
.col_right .top i:first-child {margin:22px 7px 0 37px;font-size:16px}
.col_right .top p {float:left;margin:16px 0 0 11px;font-size:13px}
.col_right .top p strong {font-family:'latobold'}

.col_right .inscrevase {padding:8px 0;margin:0 auto 30px;width:225px;font-size:17px}

.col_right .novidades {background:#f1fafe;float:left;width:100%;padding:30px 0;text-align:center}
.col_right .novidades h3 {margin-bottom:35px;font-family:'latoblack';font-size:17px;color:#00b3e3;text-transform:uppercase}
.col_right .novidades h3 i {margin-right:10px;color:#fff}
.col_right .novidades input {clear:both;padding:9px 15px 8px;margin:0 0 5px 0;width:193px;font-size:14px;color:#6d7a83;border:1px solid #e2e7ea}
.col_right .novidades button {background:#00b3e3;clear:both;padding:9px 0 8px;margin:10px 0 0 0;width:225px;font-family:'latobold';font-size:16px;color:#fff;text-transform:uppercase}

.col_right .compartilhe {float:left;width:100%;padding:24px 0 20px 0;text-align:center}
.col_right .compartilhe p {display:inline;margin:5px 11px 0 0;font-size:11px;color:#6d6e71}
.col_right .compartilhe ul {display:inline}
.col_right .compartilhe li {display:inline;margin:0 5px 0 0;font-size:18px}
.col_right .compartilhe li i.fa-facebook-square {color:#3c5b9a}
.col_right .compartilhe li i.fa-twitter {color:#5fa9dd}