.col_left h2 {padding:30px 0;font-family:'latoblack';font-size:20px;color:#00b3e3;text-transform:uppercase}
.col_left p {margin:0 0 30px 0;font-size:16px;color:#6d6e71;line-height:20px}
.col_left p a {color:#6d6e71}
.col_left p strong {font-family:'latobold';color:#00b3e3}
.col_left .bold {font-family:'latobold'}

.duvidas {}
.duvidas .bt_click {}
.duvidas .toggleDiv {display:none}