.palestrantes {}
.palestrantes p {font-size:16px;color:#6d6e71;line-height:20px}

.palestrantes .holder {width:635px;overflow:hidden}
.palestrantes .item {float:left;margin:0 33px 45px 0;width:178px;height:300px}
.palestrantes .item a {display:block;position:relative;width:178px;height:184px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;overflow:hidden}
.palestrantes .item .hover {background:rgba(0, 179, 227, 0.7);padding:65px 0 0 0;width:100%;height:119px;font-family:'latoblack';font-size:22px;color:#fff;position:absolute;top:0;left:0;text-align:center;display:none}
.palestrantes .item ul {margin:15px 0 0 0}
.palestrantes .item li {font-family:'latobold';font-size:15px;line-height:20px;text-align:center}
.palestrantes .item li.nome {color:#00b3e3}
.palestrantes .item li.cargo {color:#2fbfc2}
.palestrantes .item li.empresa {color:#6d6e71}
