@font-face {font-family:'latoregular';src:url('../fonts/lato-regular-webfont.eot');src:url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lato-regular-webfont.woff2') format('woff2'),url('../fonts/lato-regular-webfont.woff') format('woff'),url('../fonts/lato-regular-webfont.ttf') format('truetype'),url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'latobold';src:url('../fonts/lato-bold-webfont.eot');src:url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lato-bold-webfont.woff2') format('woff2'),url('../fonts/lato-bold-webfont.woff') format('woff'),url('../fonts/lato-bold-webfont.ttf') format('truetype'),url('../fonts/lato-bold-webfont.svg#latobold') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'latoblack';src:url('../fonts/lato-black-webfont.eot');src:url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/lato-black-webfont.woff2') format('woff2'),url('../fonts/lato-black-webfont.woff') format('woff'),url('../fonts/lato-black-webfont.ttf') format('truetype'),url('../fonts/lato-black-webfont.svg#latoblack') format('svg');font-weight:normal;font-style:normal}
@font-face {font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.2.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

* {padding:0;margin:0}
a, a img, fieldset {text-decoration:none;border:none}
a:hover {text-decoration:underline}
ul, li, ol {list-style-type:none}
input {font-family:'latoregular'}
input[type="text"], input[type="password"], input[type="email"], select, button, textarea {border:none;-webkit-appearance:none}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, button:focus, textarea:focus {outline:0}
table {border-collapse:separate;border-spacing:0}
button {cursor:pointer}

body {font-family:'latoregular'}

.fa {display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-facebook-square:before {content:"\f082"}
.fa-twitter:before {content:"\f099"}
.fa-map-marker:before {content:"\f041"}
.fa-suitcase:before {content:"\f0f2"}
.fa-envelope:before {content:"\f0e0"}
.fa-question-circle:before {content:"\f059"}
.fa-plus-circle:before {content:"\f055"}
.fa-calendar:before {content:"\f073"}
.fa-arrow-circle-right:before {content:"\f0a9"}
.fa-photo:before, .fa-image:before, .fa-picture-o:before {content:"\f03e"}
.fa-video-camera:before {content:"\f03d"}
.fa-newspaper-o:before {content:"\f1ea"}
.fa-file-text:before {content:"\f15c"}
.fa-microphone:before {content:"\f130"}
.fa-clock-o:before {content:"\f017"}

.central {width:1000px;margin:0 auto}
.border {-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}

/*Header*/
header {background:url(../images/bg_header.jpg) no-repeat top center;overflow:hidden}
header.home {background:none;position:relative}

#bkg_banner {width:100%;height:769px;position:absolute;top:0;z-index:-1}
#bkg_banner div {width:100%;height:100%}
#bkg_banner .bnn01 {background:url(../images/banner/bg01.jpg) no-repeat top center}
#bkg_banner .bnn02 {background:url(../images/banner/bg02.jpg) no-repeat top center}
#bkg_banner .bnn03 {background:url(../images/banner/bg03.jpg) no-repeat top center}

#header_hosp {background:#155e9d;overflow:hidden;height:33px}
#header_hosp .mn_einstein {background:url(../images/ico_lgo_einstein.png) no-repeat 0 0;float:left;padding:0 0 0 22px;margin:6px 0 0 0}
#header_hosp .mn_einstein li {display:inline;font-size:11px;color:#aac9ed;border-left:1px solid #aac9ed}
#header_hosp .mn_einstein li:first-child {border:none}
#header_hosp .mn_einstein li a {margin:0 16px;color:#aac9ed}

#header_hosp .social {float:right;margin:0 11px 0 0}
#header_hosp .social p {float:left;margin:11px 10px 0 0;font-size:11px;color:#aac9ed}
#header_hosp .social ul {float:left;margin:5px 0 0 0}
#header_hosp .social li {float:left;margin:0 8px 0 0}
#header_hosp .social li a {color:#fff}
#header_hosp .social li a i {font-size:20px}

#header_hosp .idioma {float:right;padding:0 0 0 11px;margin:8px 0 0 0;border-left:1px solid #aac9ed}
#header_hosp .idioma li {float:left;margin:0 7px 0 0}
#header_hosp .idioma li a {background:url(../images/bg_idioma.png) no-repeat 0 0;display:block;width:14px;height:14px;text-indent:-3000em}
#header_hosp .idioma li a.port {background-position:0 0}
#header_hosp .idioma li a.eng {background-position:-14px 0}
#header_hosp .idioma li a.esp {background-position:-28px 0}

header #menu {background:#fff;margin:20px auto 0;overflow:hidden;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px}

header #menu .logo {float:left;margin:25px 44px 30px 33px}
header #menu .logo a {background:url(../images/lgo_forum.png) no-repeat 0 0;display:block;width:320px;height:79px;text-indent:-3000em;overflow:hidden}

header #menu .mn_azul {float:left;padding:29px 0 15px 0}
header #menu .mn_azul li {float:left;margin:0 37px 0 0;font-size:12px;color:#00b3e3;text-transform:uppercase}
header #menu .mn_azul li a {color:#00b3e3}
header #menu .mn_azul li a i {font-size:17px;margin-right:6px}

header #menu hr {float:left;width:572px;border:none;border-top:1px solid #e1e2e2}

header #menu .mn_princ {float:left;margin:20px 0 0 0}
header #menu .mn_princ li {float:left;margin:0 17px 0 0;font-size:13px;color:#6d6e71;text-transform:uppercase}
header #menu .mn_princ li a {color:#6d6e71}
header #menu .mn_princ li a.select {color:#00b3e3}

header .tit {float:left;width:100%}
header .tit h1 {float:left;margin:60px 0 0 0;font-family:'latoblack';font-size:24px;color:#fff;text-transform:uppercase}
header .tit .org {float:right;width:29%;margin:0 0 35px 0}
header .tit .org p {margin:40px 0 14px 0;font-size:9px;color:#fff}
header.home .tit .org p {margin:20px 0 14px 0;color:#155e9d}
header .tit .org ul {}
header .tit .org li {float:left}
header .tit .org li:first-child {border-right:1px solid #d2dfe6}
header .tit .org li img {margin:0 20px}

header #banner {float:left;width:100%;padding:75px 0 148px 0}
header #banner img {background:none!important}

header .info {background:url(../images/bg_info_home.png) no-repeat 0 0;float:left;padding:15px 0 0 0;width:100%;height:76px;color:#fff}
header .info i {float:left;font-size:25px}
header .info p {float:left;font-size:13px}

header .info .data {float:left}
header .info .data i {margin:19px 20px 0 0}
header .info .data i:first-child {margin:24px 7px 0 45px;font-size:16px}
header .info .data p {margin:11px 47px 0 0}
header .info .data p strong {font-family:'latoblack'}

header .info .local {float:left;height:63px;border-right:1px solid #86aec8;border-left:1px solid #86aec8}
header .info .local i {margin:20px 20px 0 40px}
header .info .local p {margin:11px 40px 0 0}
header .info .local p strong {font-family:'latoblack'}

header .info .botao {float:left}
header .info .botao a img {margin:10px 0 0 44px}

/*Conteudo*/
#content {float:left;clear:both;width:100%}

/*Footer*/
footer {background:url(../images/bg_footer.jpg) no-repeat top center;clear:both;height:450px;overflow:hidden}
footer h3 {margin:59px 0 46px 0;font-family:'latoblack';font-size:20px;color:#fff;text-transform:uppercase}
footer h3 i {margin-right:8px}
footer input {float:left;clear:both;padding:11px 20px;margin:0 0 13px 0;width:238px;font-size:18px;color:#6d7a83}
footer textarea {padding:11px 20px;margin:0 0 10px 0;height:77px;font-size:18px;color:#6d7a83}
footer button {background:#00b3e3;float:left;clear:both;padding:10px 0;width:278px;font-family:'latobold';font-size:20px;color:#fff;text-transform:uppercase}
footer .localizacao {float:left;width:400px}
footer .localizacao .mapa {width:364px;height:266px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;overflow:hidden;position:relative}
footer .novidades {float:left;width:321px}
footer .contato {float:left;width:279px}

#footer_hosp {background:#155e9d;height:48px;overflow:hidden}
#footer_hosp .aehi {float:left;margin:7px 0 0 10px}
#footer_hosp .mantra {float:right;margin:16px 10px 0 0}
#footer_hosp p {float:left;width:85%;font-size:11px;color:#aac9ed;line-height:48px;text-align:center}